In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data/nrg_pc_204_c_linear.csv")
df

,DATAFLOW,LAST UPDATE,freq,nrg_cons,nrg_prc,currency,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:NRG_PC_204_C(1.0),27/06/22 23:00:00,A,KWH1000-2499,NETC,EUR,AL,2017,0.0000,NaN
1,ESTAT:NRG_PC_204_C(1.0),27/06/22 23:00:00,A,KWH1000-2499,NETC,EUR,AL,2018,0.0000,NaN
2,ESTAT:NRG_PC_204_C(1.0),27/06/22 23:00:00,A,KWH1000-2499,NETC,EUR,AL,2019,0.0000,NaN
3,ESTAT:NRG_PC_204_C(1.0),27/06/22 23:00:00,A,KWH1000-2499,NETC,EUR,AL,2020,0.0447,e
4,ESTAT:NRG_PC_204_C(1.0),27/06/22 23:00:00,A,KWH1000-2499,NETC,EUR,AL,2021,0.0000,NaN
...,...,...,...,...,...,...,...,...,...,...
44739,ESTAT:NRG_PC_204_C(1.0),27/06/22 23:00:00,S,KWH_LT1000,VAT,EUR,IT,2016-S2,0.0287,d
44740,ESTAT:NRG_PC_204_C(1.0),27/06/22 23:00:00,S,KWH_LT1000,VAT,EUR,LI,2016-S2,0.0129,NaN
44741,ESTAT:NRG_PC_204_C(1.0),27/06/22 23:00:00,S,KWH_LT1000,VAT,NAC,IT,2016-S2,0.0287,d
44742,ESTAT:NRG_PC_204_C(1.0),27/06/22 23:00:00,S,KWH_LT1000,VAT,NAC,LI,2016-S2,0.0140,NaN
44743,ESTAT:NRG_PC_204_C(1.0),27/06/22 23:00:00,S,KWH_LT1000,VAT,PPS,IT,2016-S2,0.0292,d

In [12]:
df.geo.unique()
# df.loc[(df.geo == 'AL') & (df.freq == 'A')]
# df.loc[(df.geo == 'AL') & (df.TIME_PERIOD == '2017')]

array(['AL', 'AT', 'BA', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EA', 'EE',
       'EL', 'ES', 'EU27_2020', 'FI', 'FR', 'GE', 'HR', 'HU', 'IE', 'IS',
       'IT', 'LI', 'LT', 'LU', 'LV', 'MD', 'ME', 'MK', 'MT', 'NL', 'NO',
       'PL', 'PT', 'RO', 'RS', 'SE', 'SI', 'SK', 'TR', 'UA', 'UK', 'XK'],
      dtype=object)

In [11]:
df.TIME_PERIOD.unique()

array(['2017', '2018', '2019', '2020', '2021', '2015-S2', '2016-S2',
       '2008-S2', '2009-S2', '2010-S2', '2011-S2', '2012-S2', '2013-S2',
       '2014-S2', '2007-S2'], dtype=object)